body {
  font-size: 0;
}

.headerWrap {
  height: var(--header-height);
  background: #000;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: var(--zindex-high);
}

.headerWrap > * {
  display: inline-block;
  vertical-align: top;
}

.logo {
  width: 100px;
  margin-left: 10px;
}

.menu {
  color: var(--color-secondary);
  width: calc(100% - 420px);
  text-align: center;
  vertical-align: top;
  margin: auto;
}

.menu li {
  display: inline-block;
  line-height: var(--header-height);
  font-size: 14px;
}

.menu li:not(:last-child) {
  margin-right: 1.5em;
}

main > section {
  min-height: calc(100vh - var(--header-height));
  width: var(--max-width);
  margin: var(--header-height) auto 0px ;
  
}

main > section > div {
  padding: 20px 0px;
}

/* ============== Feature Start ============== */

.Feature article {
  display: inline-block;
  width: calc(960px / 3 - 3em);
  height: 400px;
  padding: 1.5em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
}

.Feature article:not(:last-child) {
  margin-right: 20px;
}

.Feature article > div > * {
  margin-top: 30px;
  text-align: center;
}

/* ============== Feature End ============== */


/* ============== About Us Start ============== */

.AboutUs > div > * {
  display: inline-block;
  width: 50%;
}

.AboutUs .Img img {
  display: block;
  width: 100%;
  margin: auto;
}

.AboutUs article {
  font-size: 14px;
  vertical-align: top;
}

.AboutUs article > * {
  margin: 0 0 2rem 2rem;
}

/* ============== About Us End ============== */


/* ============== Profile Info Start ============== */

.ProfileInfo article {
  display: inline-block;
  width: calc(940px / 4);
}

.ProfileInfo article:not(:last-child) {
  margin-right: 20px;
}

/* ============== Profile Info End ============== */